{% extends "base.html" %}
{% block title %}Wyszukiwanie klasyczne{% endblock %}
{% block main %}
	<h1>Wyszukaj klasycznie</h1>
	<hr>
    <form action="/formularz", method = "POST">
		 
	<div class="row">
		<div class="col">
		  <div class="form-group">
		    <label for="nazwa">Nazwa ptasznika</label>
		    <input type="text" class="form-control"  name="nazwa" id="nazwa" placeholder="Nazwa ptasznika">
		  </div>
		</div>
		 <div class="col">
		  <div class="form-group">
		    <label for="stopien">Stopień zaawansowania użytkownika</label>
		    <select class="form-control" name="stopien">
				<option value="pierwszy">Pierwszy pająk</option>
				<option value="poczatkujący">Początkujący</option>
				<option value="srednio">Średniozaawansowany</option>
				<option value="zaawansowany">Zaawansowany</option>
		    </select>
		  </div>
		 </div>
	</div>

		<div class="row">
		    <div class="col">
			  <div class="form-group">
			    <label for="klimat">Klimat</label>
			    <select class="form-control" name="klimat">
	 				<option value="pustynny">Pustynny</option>
	 				<option value="tropikalny">Tropikalny</option>
	  				<option value="stepowy">Stepowy</option>
			    </select>
			  </div>
		    </div>
		    <div class="col">
			  <div class="form-group">
			    <label for="biotop">Biotop</label>
			    <select class="form-control" name="biotop">
	 				<option value="nadrzewny">Nadrzewny</option>
	 				<option value="naziemny">Naziemy</option>
	  				<option value="podziemny">Podziemny</option>
			    </select>
			  </div>
		    </div>
		 </div>
		  	


		  <div class="row">
		    <div class="col">
		    <label for="tem_min">Temperatura minimalna</label>
		    <select class="form-control" name="tem_min">
	 			<option value="20">20</option>
	 			<option value="21">21</option>
	 			<option value="22">22</option>
	 			<option value="23">23</option>
	 			<option value="24">24</option>
	 			<option value="25">25</option>
	 			<option value="26">26</option>
	 			<option value="27">27</option>
	 			<option value="28">28</option>
	 			<option value="29">29</option>
	 			<option value="30">30</option>
		    </select>
		    </div>
		    <div class="col">
		    <label for="tem_max">Temperatura maksymalna</label>
		    <select class="form-control" name="tem_max">
	 			<option value="20">20</option>
	 			<option value="21">21</option>
	 			<option value="22">22</option>
	 			<option value="23">23</option>
	 			<option value="24">24</option>
	 			<option value="25">25</option>
	 			<option value="26">26</option>
	 			<option value="27">27</option>
	 			<option value="28">28</option>
	 			<option value="29">29</option>
	 			<option value="30">30</option>
		    </select>
		    </div>
		  </div>		  		  
		  <br>
		  <div class="form-group">
		    <label for="lata">Długość życia samicy</label>
		    <select class="form-control" name="lata">
	 				<option value="10">5-10 lat</option>
	 				<option value="15">10-15 lat</option>
	 				<option value="20">15-20 lat</option>
		    </select>
		  </div>
		  <div class="form-group row">
		    <div class="col-sm-10">
		      <button type="submit" class="btn btn-primary">Wyszukaj</button>
		    </div>

</form>
<br>
<br>
<br>	


<div class="row">
{% for d in data %}
		    <div class="col">
				<div class="card" style="width: 18rem;">
				  <img src="static/img/bs.jpg" class="card-img-top" alt="Brachypelma smithi">
				  <div class="card-body">
				    <h5 class="card-title">Brachypelma smithi</h5>
				    <p class="card-text">{{ d['name'] }}</p>
				  </div>
				  <ul class="list-group list-group-flush">
				    <li class="list-group-item">
			        <a href="{{ '/ptasznik/%s'%d._id}}" class="btn btn-primary btn-lg"> {{ d._id }} </a 
					</li>
				  </ul>
				  <div class="card-body">
				    <a href="https://spidershop.pl/product/brachypelma-smithi-l1-2/" class="card-link">spidershop.pl</a>
				    <a href="https://argiopeterra.pl//pl/p/Brachypelma-hamorii-ex.-smithi-Ptasznik-czerwonokolanowy-L1-L3/80" class="card-link">argiopeterra.pl</a>
				  </div>
				</div>	
				<br>
				<br>
				<br>	    		
		    </div>
{% endfor %}
</div>



<!-- <div class="row">
	{% for d in data %}
		  {{d["name"]}}
		  <br>

	{% endfor %}
</div>
 -->
<!-- for dictionary in data:
    print(dictionary['name'])
    print('####') -->


{% endblock %}