{% extends "base.html" %}
{% block title %}Strona główna{% endblock %}
{% block main %}
	<h1>Chceptasznika</h1>
	<hr>
		  <div class="row">
		    <div class="col">
				<div class="card" style="width: 18rem;">
				  <img src="static/img/bs.jpg" class="card-img-top" alt="Brachypelma smithi">
				  <div class="card-body">
				    <h5 class="card-title">Brachypelma smithi</h5>
				    <p class="card-text">Bardzo ładnie ubarwiony ptasznik. Na przegubach nóg występuje kolor pomarańczowy. Odwłok czarny porośnięty czarnymi włoskami.</p>
				  </div>
				  <ul class="list-group list-group-flush">
				    <li class="list-group-item"><b>Siła jadu: </b>5</li>
				    <li class="list-group-item"><b>Szybkość: </b>5</li>
				    <li class="list-group-item"><b>Temperament: </b>5</li>
				    <li class="list-group-item"><b>Trudność hodowli: </b>5</li>
				    <li class="list-group-item"><b>Podatność na błędy hodowcy: </b>5</li>
				  </ul>
				  <div class="card-body">
				    <a href="https://spidershop.pl/product/brachypelma-smithi-l1-2/" class="card-link">spidershop.pl</a>
				    <a href="https://argiopeterra.pl//pl/p/Brachypelma-hamorii-ex.-smithi-Ptasznik-czerwonokolanowy-L1-L3/80" class="card-link">argiopeterra.pl</a>
				  </div>
				</div>		    		
		    </div>

		    <div class="col">
				<div class="card" style="width: 18rem;">
				  <img src="static/img/bs.jpg" class="card-img-top" alt="Brachypelma smithi">
				  <div class="card-body">
				    <h5 class="card-title">Brachypelma smithi</h5>
				    <p class="card-text">Bardzo ładnie ubarwiony ptasznik. Na przegubach nóg występuje kolor pomarańczowy. Odwłok czarny porośnięty czarnymi włoskami.</p>
				  </div>
				  <ul class="list-group list-group-flush">
				    <li class="list-group-item"><b>Siła jadu: </b>5</li>
				    <li class="list-group-item"><b>Szybkość: </b>5</li>
				    <li class="list-group-item"><b>Temperament: </b>5</li>
				    <li class="list-group-item"><b>Trudność hodowli: </b>5</li>
				    <li class="list-group-item"><b>Podatność na błędy hodowcy: </b>5</li>
				  </ul>
				  <div class="card-body">
				    <a href="https://spidershop.pl/product/brachypelma-smithi-l1-2/" class="card-link">spidershop.pl</a>
				    <a href="https://argiopeterra.pl//pl/p/Brachypelma-hamorii-ex.-smithi-Ptasznik-czerwonokolanowy-L1-L3/80" class="card-link">argiopeterra.pl</a>
				  </div>
				</div>		    		
		    </div>

		    <div class="col">
				<div class="card" style="width: 18rem;">
				  <img src="static/img/bs.jpg" class="card-img-top" alt="Brachypelma smithi">
				  <div class="card-body">
				    <h5 class="card-title">Brachypelma smithi</h5>
				    <p class="card-text">Bardzo ładnie ubarwiony ptasznik. Na przegubach nóg występuje kolor pomarańczowy. Odwłok czarny porośnięty czarnymi włoskami.</p>
				  </div>
				  <ul class="list-group list-group-flush">
				    <li class="list-group-item"><b>Siła jadu: </b>5</li>
				    <li class="list-group-item"><b>Szybkość: </b>5</li>
				    <li class="list-group-item"><b>Temperament: </b>5</li>
				    <li class="list-group-item"><b>Trudność hodowli: </b>5</li>
				    <li class="list-group-item"><b>Podatność na błędy hodowcy: </b>5</li>
				  </ul>
				  <div class="card-body">
				    <a href="https://spidershop.pl/product/brachypelma-smithi-l1-2/" class="card-link">spidershop.pl</a>
				    <a href="https://argiopeterra.pl//pl/p/Brachypelma-hamorii-ex.-smithi-Ptasznik-czerwonokolanowy-L1-L3/80" class="card-link">argiopeterra.pl</a>
				  </div>
				</div>		    		
		    </div>		    
		  </div>




{% endblock %}